{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y bg-light " style="margin-top:80px">

    <div class="container">
        <div class="row">

        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Add Members</strong>
            </header>
            <div class="card-body">
                <!--<div class="text-right">
                    <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" width="100" style="border-radius:50px;">
                </div> -->
                <div class="row">
                <div class="col-md-12">
                    <form action="{% url 'add-members' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">

                            <div class="form-group col-md-12">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Name" name="name" >
                            </div>
                            <div class="form-group col-md-12">
                                <label>Phone Number</label>
                                <input type="text" class="form-control" placeholder="Phone Number" name="phone_number" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Email Address" name="email" >
                        </div>
                         <div class="form-group">
                              <select class="form-select"  name="location" id="location">
                                  {% for key, value in data.items %}
                                      <option  value="{{value}}">{{key}}</option>
                                  {% endfor %}
                              </select>
                        </div>
                        <input type="submit" value="Save Profile" class="btn btn-primary">
                    </form>
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            </article> <!-- order-group.// -->
        </main>
    </div> <!-- row.// -->
    </div>


    </section>


{% endblock content %}